/* style.css */
/* 
body (background color, alignment dimenstion of text and such)
color id
panel color it's dimension
play with color brightness to simulate it lighting up */


/* style.css */

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    font-size: 8vh;
    margin: 5vh;
    color: gray;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, rgb(90, 89, 89), rgb(47, 47, 47), rgb(0, 0, 0));
    flex-direction: column;
}

#simonGame {
    display: flex;
    flex-wrap: wrap;
    width: 50vh;
    height: 50vh;
    margin-top: 2vh;
}

.color-panel {
    align-items: center;
    width: 50%;
    height: 50%;
    opacity: 0.6;
    transition: opacity;
    cursor: pointer;
}

#red {
    background-color: red;
    border-top-left-radius: 10vh;
    background: linear-gradient(315deg, red, rgb(0, 0, 0));
}

#green {
    background-color: green;
    border-top-right-radius: 10vh;
    background: linear-gradient(45deg, green, rgb(0, 0, 0));
}

#blue {
    background-color: blue;
    border-bottom-left-radius: 10vh;
    background: linear-gradient(225deg, blue, rgb(0, 0, 0));
}

#yellow {
    background-color: yellow;
    border-bottom-right-radius: 10vh;
    background: linear-gradient(135deg, yellow, rgb(1, 1, 1));
}

/* Add a slight increase in opacity to simulate lighting up */

.color-panel.active {
    opacity: 1;
}

.button-container {
    margin-top: 2vh;
}

#startButton {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    width: 12vh;
    margin: 2vh;
    background-color: gray;
    border-radius: 2vh;
    font-size: 3vh;
    margin-top: 10vh;
    cursor: pointer;
}

button:hover {
    background-color: gray;
    color: white;
}

.scoreTrack {
    font-family: "Roboto", sans-serif;
    font-weight: 50;
    font-size: 3vh;
    position: fixed;
    bottom: 2.5vh;
    right: 6vh;
    text-align: right;
    color: rgb(154, 153, 153);
}

#score {
    margin-bottom: 0;
}

#higestScore {
    margin-top: 0;
}

#gameOverMessage {
    font-family: "Roboto", sans-serif;
    display: none;
    color: white;
    font-size: 20vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* adjust the positioning to the exact center */
    text-align: center;
}

#winMessage {
    font-family: "Roboto", sans-serif;
    display: none;
    color: gold;
    font-size: 20vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* adjust the positioning to the exact center */
    text-align: center;
}

@media (max-width: 500px) {
    h1 {
        align-items: center;
        font-size: 6vh;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #simonGame {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .color-panel {
        align-items: center;
        width: 25vh;
        height: 25vh;
    }
    .scoreTrack {
        font-size: 2vh;
        position: fixed;
        bottom: 1vh;
        right: 3vh;
        text-align: right;
    }
    
    #startbutton {
        align-items: center;
        width: 10vh;
        font-size: 2vh;
    }

    #gameOverMessage, #winMessage {
        font-size: 8vh;
    }

    #winMessage {
        font-size: 8vh;
    }
}