/* style.css */
/* 
body (background color, alignment dimenstion of text and such)
color id
panel color it's dimension
play with color brightness to simulate it lighting up */


/* style.css */

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    font-size: 6vh;
    margin: 5vh;
    color: gray;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, rgb(0, 0, 0), rgb(56, 56, 56), rgb(90, 89, 89));
    flex-direction: column;
}

#simonGame {
    display: flex;
    flex-wrap: wrap;
    width: 50vh;
    height: 50vh;
    margin-top: 2vh;
    
}

.color-panel {
    align-items: center;
    width: 50%;
    height: 50%;
    opacity: 0.45;
    transition: opacity 0.7;
    cursor: pointer;
}

#red {
    background-color: red;
    border-top-left-radius: 10vh;
}

#green {
    background-color: green;
    border-top-right-radius: 10vh;
}

#blue {
    background-color: blue;
    border-bottom-left-radius: 10vh;
}

#yellow {
    background-color: yellow;
    border-bottom-right-radius: 10vh;
}

/* Add a slight increase in opacity to simulate lighting up */

.color-panel.active {
    opacity: 1;
}

.button-container {
    margin-top: 2vh;
}

#startButton {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    width: 12vh;
    margin: 2vh;
    background-color: gray;
    border-radius: 2vh;
    font-size: 3vh;
    margin-top: 10vh;
    cursor: pointer;
}

button:hover {
    background-color: gray;
    color: white;
}

.scoreTrack {
    font-family: "Roboto", sans-serif;
    font-weight: 50;
    font-size: 3vh;
    position: fixed;
    bottom: 20px;
    right: 6vh;
    text-align: right;
    color: rgb(154, 153, 153);
}

#score {
    margin-bottom: 0;
}

#higestScore {
    margin-top: 0;
}

#gameOverMessage {
    font-family: "Roboto", sans-serif;
    display: none;
    color: white;
    font-size: 20vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* adjust the positioning to the exact center */
    text-align: center;
}

#winMessage {
    font-family: "Roboto", sans-serif;
    display: none;
    color: gold;
    font-size: 20vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* adjust the positioning to the exact center */
    text-align: center;
}