/* style.css */
/* 
body (background color, alignment dimenstion of text and such)
color id
panel color it's dimension
play with color brightness to simulate it lighting up */


/* style.css */

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    margin: 5vh;
    color: gray;
}

body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

#simonGame {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
}

.color-panel {
    align-items: center;
    width: 50%;
    height: 50%;
    opacity: 0.4;
    transition: opacity 0.9;
    cursor: pointer;


}

#red { 
    background-color: red; 
    border-top-left-radius: 30px;
}

#green { 
    background-color: green;
    border-top-right-radius: 30px;
}

#blue {
    background-color: blue;
    border-bottom-left-radius: 30px;
}

#yellow {
    background-color: yellow;
    border-bottom-right-radius: 30px;
}

/* Add a slight increase in opacity to simulate lighting up */

.color-panel.active {
    opacity: 1;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#startButton {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    width: 15vmin;
    margin: 2vmin;
    background-color: gray;
    border-radius: 2vmin;
    font-size: 4vmin;
    outline: black;
    margin: 10vh;
}

button:hover {
    background-color: gray;
    color: white;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: medium;
    text-align: right;
    margin: 10vh;
    color: gray;
}